{% extends 'partials/base.html.twig' %}

{% block header %}
  {% include 'partials/header.html.twig' %}
{% endblock %}

{% block content %}
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="space"></div> 
    <h1 class="text-center"> {{ page.header.title }} </h1>
    <div class="space"></div>
    {{ page.content }}
  </div>
  <div class="col-md-1"></div>
{% endblock %}
